numpy
scipy
pandas
shapely
matplotlib
pyproj
rasterio
Pillow
geopandas
netcdf4
scikit-image
configobj
joblib
xarray
cftime
progressbar2
pytest
motionless
dask
bottleneck
descartes
toolz
ipython
pytables
numpydoc
git+https://github.com/fmaussion/salem.git
git+https://github.com/OGGM/oggm.git
